table{max-width:480;width:100% !important;margin:auto;}
textarea{max-width:360px;width:100% !important}
input{max-width:230px;width:100% !important;}
body,table,td {background:#F5F4F4 !important;}
table p.text strong b{display:inline-block;padding:0 5px 0 0;}