
body{font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;}
input{border: 1px solid #b8b3aa; height: 23px; width: 230px; margin-bottom:8px;}
label{font-size:14px; color:#666;}
textarea{border: 1px solid #b8b3aa; width:360px; height:100px;}
#send{height: 30px; width:100px; background:#beb8ae; border: 1px solid #a09b92;}

.gt8591143as6590918{font-size: 12px;}.gt3442667as9632629{margin: 0 10px; padding:10px; border-top: 1px solid gray;}.gt8756289as8294028{margin: 0;}.gt4092086as4052186{margin-top:15px;}.gt5050374as6620908{margin-top:15px;}