body.index .form .steps .dotted{
    background-image: none;
    border-bottom: 2px dashed #a8a8a8;
}
body.index .form .steps .line{
    width: 82%;
}
body.index .form .steps .line1{
    left: 9%;
    right: unset;
}

body.index .flex {
    display: flex;
}
body.index .space-beetween {
    justify-content: space-between;
}
body.index .flex-column {
    flex-direction:column;
}
body.index .form .steps .line1:lang(ar){
    left: unset;
    right: 9%;
}
body.index .form .floating-label:lang(ar){
text-align: right;
}
@media (max-width: 590px){
    body.index .form .steps .line{
        width: 78%;
    }
    body.index .form .steps .line1{
        left: 11%;
        right: unset;
    }
    body.index .form .steps .line1:lang(ar){
        left: unset;
        right: 11%;
    }
}
@media (max-width: 480px)
{
    body.index .form .steps .line{
        width: 76%;
    }
    body.index .form .steps .line1{
        left: 12%;
        right: unset;
    }
    body.index .form .steps .line1:lang(ar){
        left: unset;
        right: 12%;
    }
}
@media (max-width: 400px){
    body.index .form .steps .line{
        width: 66%;
    }
    body.index .form .steps .line1{
        left: 17%;
        right: unset;
    }
    body.index .form .steps .line1:lang(ar){
        left: unset;
        right: 17%;
    }
}
#hideTextOnB7{
    margin-top: 20px;
}
