body.index .form {
    background: #dddee3;
}
body.index .form .promo-box {
    display: none;
    background-color: #1e911e;
    width: 100%;
}
body.index .form .promo-box .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
body.index .form .promo-box .ico {
    -ms-flex-item-align: start;
    align-self: flex-start;
    display: block;
    width: 20px;
    height: 20px;
    margin: 13px;
    margin-right: 8px;
    content: url(box_ok.png);
}
body.index .form .promo-box p {
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    line-height: 13px;
    text-align: left;
    padding-top: 14px;
    padding-bottom: 14px;
}
body.index .form .promo-box p span {
    font-weight: 400;
    line-height: 20px;
}
body.index .form h2 {
    padding-top: 20px;
    text-align: center;
    padding-bottom: 35px;
    text-transform: uppercase;
}
body.index .form .steps {
    padding-left: 11px;
    padding-right: 11px;
}
body.index .form form {
    padding-left: 11px;
    padding-right: 11px;
}
body.index .form .error {
    display: none;
    color: #d96700;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    position: absolute;
    right: 1%;
    width: 44%;
}
body.index .form .to-left {
    text-align: left !important;
}
body.index .form .error:after {
    content: url(form_warn.png);
    position: absolute;
    width: 26px;
    height: 21px;
    top: 25%;
    margin-left: 9px;
    right: 4px;
}
body.index .form .input-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 2px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}
body.index .form .step1 label {
    margin-top: 4px;
    margin-bottom: 28px;
    display: block;
    font-family: Roboto;
    color: #2b2b2b;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}
body.index .form .step2 button {
    margin-top: 29px;
}
body.index .form .step2 label {
    color: #656565;
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
    position: absolute;
    text-align: left;
    top: -3px;
    left: 11px;
}
body.index .form .step3 label {
    color: #656565;
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
    position: absolute;
    text-align: left;
    top: -3px;
    left: 11px;
}
body.index .form input,
body.index .form select {
    border-radius: 3px;
    border-width: 1px;
    border-color: #afb0b4;
    border-style: solid;
    background-color: #ffffff;
    width: 100%;
    display: block;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    height: 48px;
    padding-left: 11px;
    padding-right: 11px;
    text-align: left;
    top: 44px;
}
body.index .form .floatingSpan input {
    padding-top: 18px;
}
body.index .form input:focus {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
}
body.index .form input:focus ~ .floating-label,
body.index .form input:not(:placeholder-shown) ~ .floating-label {
    color: #656565;
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
    position: absolute;
    top: -3px;
    left: 11px;
    text-align: left;
}
body.index .form .input-error {
    border-bottom: solid 2px #E0211B;
}
body.index .form .floating-label {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    position: absolute;
    pointer-events: none;
    left: 11px;
    text-align: left;
    top: 25%;
    -webkit-transition: 0.2s ease all;
    transition: 0.2s ease all;
}
body.index .form .error-text {
    display: none;
    color: #E0211B;
    font-size: 13px;
}
body.index .form .input-error ~ .error-text {
    display: block;
}
body.index .form .floatingSpan {
    position: relative;
}
body.index .form .checkbox {
    margin-top: 5px;
    margin-bottom: 5px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
}
body.index .form .checkbox div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
body.index .form .checkbox input {
    border-width: 1px;
    border-color: #afb0b4;
    border-style: solid;
    background: #ffffff;
    margin: 0;
    padding: 0;
    height: 20px;
    width: auto;
}
body.index .form .checkbox label {
    padding-left: 5px;
    font-family: Roboto;
    color: #808080;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: justify;
    position: relative;
    top: 0;
    left: 0;
}
body.index .form .checkbox label strong {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}
body.index .form button {
    border-radius: 3px;
    border-width: 1px;
    border-color: #afb0b4;
    border-style: solid;
    background-color: #0077cc;
    width: 100%;
    height: 71px;
    font-family: Roboto;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 10px;
    position: relative;
}
body.index .form button span {
    font-size: 15px;
    font-weight: 400;
}
body.index .form button:after {
    content: url(form_next.png);
    width: 7px;
    height: 11px;
    display: block;
    position: absolute;
    top: 35%;
    right: 17px;
}
body.index .form .inpostButtonShowClick:after {
    content: none;
}
body.index .form .info {
    display: block;
    margin-top: 10px;
    padding-bottom: 40px;
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}
body.index .form .info strong {
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
}
body.index .form input::-webkit-input-placeholder {
    color: #000000;
}
body.index .form input:-ms-input-placeholder {
    color: #000000;
}
body.index .form input::placeholder {
    color: #000000;
}
body.index .form .step3,
body.index .form .step2 {
    display: none;
}
body.index .form .steps {
    margin-bottom: 20px;
    position: relative;
}
body.index .form .steps .text {
    color: #8a8a8a;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    display: block;
}
body.index .form .steps .text span {
    display: block;
    text-transform: uppercase;
    font-weight: 400;
}
body.index .form .steps .pointer {
    margin-top: 5px;
    -ms-flex-item-align: center;
    align-self: center;
    background: url(form_n.png);
    background-position: center center;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    z-index: 99;
}
body.index .form .steps .active .text {
    color: #2b2b2b;
}
body.index .form .steps .active .pointer {
    background: url(form_a.png);
}
body.index .form .steps .completed .pointer {
    background: url(form_c.png);
}
body.index .form .steps .line {
    height: 2px;
    display: block;
    position: absolute;
    width: 35%;
}
body.index .form .steps .line1 {
    left: 13%;
    bottom: 7px;
}
body.index .form .steps .line2 {
    right: 16%;
    bottom: 7px;
}
body.index .form .steps .solid {
    background: url(form_line_sol.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}
body.index .form .steps .dotted {
    border-bottom: 2px dashed #a6a6a6;
}
@media (max-width: 768px){
    body.index .form .steps .line1{
        left: 8%;
    }
    body.index .form .steps .line2{
        right: 8%;
    }
    body.index .form .steps .line{
        width: 42%;
    }
}
@media (max-width: 700px){
    body.index .form .steps .line1{
        left: 10%;
    }
    body.index .form .steps .line2{
        right: 10%;
    }
    body.index .form .steps .line{
        width: 40%;
    }
}
@media (max-width: 560px){
    body.index .form .steps .line1{
        left: 12%;
    }
    body.index .form .steps .line2{
        right: 12%;
    }
    body.index .form .steps .line{
        width: 38%;
    }
}
@media (max-width: 480px){
    body.index .form .steps .line1{
        left: 13%;
    }
    body.index .form .steps .line2{
        right: 13%;
    }
    body.index .form .steps .line{
        width: 37%;
    }
}
@media (max-width: 400px){
    body.index .form .steps .line1{
        left: 17%;
    }
    body.index .form .steps .line2{
        right: 17%;
    }
    body.index .form .steps .line{
        width: 33%;
    }
    body.index .form .floating-label, body.index .form input, body.index .form select{
        font-size: 15px;
    }
}
body.index .form .steps .flex{
    width: 100px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
body.index .form .steps .dotted{
    background: unset;
}
.floating-phone-mx .phone-label{
    display: none;
}
body.index .form .floating-phone-mx input{
    padding-left: 60px;
}
body.index .form .floating-phone-mx{
    position: relative;
}
body.index .form .floating-phone-mx .phone-label{
    position: absolute;
    top:1px;
    left: 1px;
    width: 50px;
    height: 46px;
    background-color: #ebeae5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #5b5a58;
    transition: 0.2s ease all;
}
body.index .form .floating-phone-mx input::placeholder{
    top:unset;
    color:gray;
}
.security-img, .security-img .icons2{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.security-img img{
    max-width: 100px;
    width: auto;
}
body.index .form .step3 .flex-row:lang(el){
    -webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;
}
.form_wrapper_title{
    position: static;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    margin: 0 0 10px;
    padding-top: 20px;
    font-weight: 600;
}
